Everything and rules of hacktoberfest ->

How can you Join?
Step - 1:
Create a GitHub account, if you don't already have one. Need help? Here are some resources to help you set up your GitHub account:



Step - 2:
Register for Hacktoberfest: Navigate to the Hacktoberfest registration page and follow the instructions.
But, read the rules carefully before you do and then sign In using your GitHub credentials.


Step - 3:
Find good projects worth contributing on the GitHub page. You can type label:hactoberfest is:issue is:open
You can add a language label of your choice to filter open issues. If you are a beginner and can’t find good issues then there’s tag label:good 
first issue which filters out issues for beginners who want to contribute.



